#sobre  {
    display:flex;
    max-width: 960px;
    justify-content: space-between;
    margin: 0 auto;
}
#body   {
    display:flex;
    max-width: 800px;
    justify-content: space-between;
    margin: 0 auto;
}

#footer {
    display:flex;
    max-width: 800px;
    justify-content: space-between;
    margin: 0 auto;
}
.pe  {
    text-align: center ;
}